.main {
  margin: 0;
  padding: 48px 10% 16px 10%;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.main > section {
  margin-bottom: 8px;
}

.sectionForm > form {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

.sectionForm > form > .searchInput {
  margin-right: 8px;
}

.sectionResults {
  width: 100%;
}

.sectionResults > .userCard {
  margin-bottom: 8px;
}

.sectionResults > .userCard:last-child {
  margin-bottom: 0;
}
